<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap" rel="stylesheet">  <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&family=Squada+One&display=swap" rel="stylesheet"> 
 
    <style>
        .fom{
         position: absolute;
         font-size: 20px;
         top: 30%;
         left: 27%;
         width: 400px;
         height: 300px;
     }
     .fom-body{
         margin-top: 10%;
         margin-left: 10%;
     }
     form{
         margin-top: 10%;
     } 
 h2{

     font-size: xx-large;
     color: #f9f9f9;
     margin-top:-10%;
     margin-bottom: 20%;
     margin-left: 15%;
 }
 .btn{
     background: #444444;
     color: #f9f9f9;
     border: none;
 }
 .btn:hover{
     background: #f9f9f9a1;
     color: #444444;
 }
 span{
     margin-left: 25%;
 }
 .h{
   display: inline-block;
   width:30%;
 }
 .butn{
    display: inline-block;
    width:30%;
    margin-left: 20%;
    font-size: large;
 }
 button{
     margin-left: 25%;
    background: #f9f9f9da;
     color: #444444;
     font-size: 15px;
 }
 </style>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #36c8bed5;">
		<a class="navbar-brand" href="#">
			<img src="images/vote_icon.jpg" width="52" height="52" class="d-inline-block align-top" alt="">
		  <span >	BLOCK BALLOT</span>
		</a>
	  </nav>
      <div class="fom">
          <div class="h">
     <h2> <%= msg %></h2>
    </div>
    <div class="butn">
        <form actions='/' method="GET">
            <button type="submit">Go Back To HomePage</button>
        </form> 
    </div>
    </div>
</body>
</html>