<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap" rel="stylesheet">  <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&family=Squada+One&display=swap" rel="stylesheet"> 
   
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<style>
		span{
		color:#1F2833;   font-family: 'Monda', sans-serif;  font-family: 'Squada One', cursive;
		font-size: 60px;
		margin-left: 125%;
    }
	</style>
</head>
<body>
	<nav class="navbar navbar-light" style="background-color: #36c8bed5;">
		<a class="navbar-brand" href="#">
			<img src="images/vote_icon.jpg" width="52" height="52" class="d-inline-block align-top" alt="">
		  <span >	BLOCK BALLOT</span>
		</a>
	  </nav>
	<p id="msgshow" style="text-align:center;color:whitesmoke; width: 100%;  ;border: 0px solid rgb(255, 0, 0);padding: 1px;margin: 5px;  font-family: 'Monda', sans-serif;"> <%= msg %></p>
    <div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
		 			
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<form action="./next" method="POST" class="login-show">
				<h2>LOGIN</h2>
				<input type="text" placeholder="Email" name="email" required>
				<input type="password" placeholder="Password" name="password" required>
                <!---<button type="submit">Login</button>--->
				<button type="submit" id="lsf">Login</button>
				<a href="/forgetPassword_uname" style="color: #444444;" >Forgot password?</a>
            </form>
			<form class="register-show" action="/" method="POST">
				<h2>REGISTER</h2>
				<input type="text" placeholder="First Name" name= "firstName" required>
				<input type="text" placeholder="Last Name" name= "lastName" required>
				<input type="text" placeholder="Email" name= "emailId" required>
				<input type="password" placeholder="Password" name="password" required>
				<input type="password" placeholder="Confirm Password" name="repassword" required>
				<button type="submit">Register</button>
				
            </form>
		</div>
	</div>
    <script src="/js/index.js"></script>
</body>
</html>

